#top {
  text-align: center;
}

body {
  background-color: lightcyan;
  font-family: "Courier New", monospace;
}

#loginOverlay {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button,
input {
  border-radius: 0px;
}

.signinButtons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#guestButton,
#startLoginButton,
#startSignupButton,
#loginBackButton,
#loginSubmitButton,
#signupBackButton,
#signupSubmitButton {
  background-color: white;
  color: black;
}

#guestButton:hover,
#startLoginButton:hover,
#startSignupButton:hover,
#loginBackButton:hover,
#loginSubmitButton:hover,
#signupBackButton:hover,
#signupSubmitButton:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

#signInUpError {
  display: none;
  color: red;
}

#loginForm,
#signupForm {
  display: none;
}

#game {
  display: none;
}

#gameBox {
  background-color: black;
  color: white;
  width: 850px;
  height: 400px;
  margin: auto;
  overflow-y: auto;
  position: relative;
}

#newGame {
  background-color: white;
  font-family: "Tahoma", sans-serif;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 50px;
  width: 50px;
  border: none;
  outline: none;
  border-bottom-right-radius: 100%;
  padding: 0px 12px 11px 0px;
}
#newGame:hover {
  /* border: 2px solid rgb(0, 200, 0);*/
  background-color: rgb(0, 200, 0);
  color: white;
  cursor: pointer;
}

#newGameOfficial {
  display: none;
}

#currentGamesTable {
  font-family: "Tahoma", sans-serif;
  table-layout: fixed;
  font-size: 13px;
  width: 100%;
  border-spacing: 50px 20px;
  margin-top: 2%;
}

#currentGamesTable td {
  text-align: center;
  border: 2px;
  border-radius: 10px;
}

.joinGameButton {
  box-shadow: none;
  border: none;
  outline: none;
  background-color: white;
  font-size: 12px;
}

.joinGameButton:hover {
  background-color: rgb(0, 0, 200) !important;
  color: white !important;
  cursor: pointer;
}

#chatToggleButton {
  box-shadow: none;
  border: none;
  outline: none;
  background-color: white;
  cursor: pointer;
}

#chatToggleButton {
  cursor: pointer;
}

#usersInGame,
#gameQuestion,
#scores {
  font-family: "Tahoma", sans-serif;
}

#leaveGameButton {
  background-color: white;
  display: none;
  top: 0px;
  left: 0px;
  border: none;
  outline: none;
}

#leaveGameButton:hover {
  background-color: rgb(200, 0, 0);
  color: white;
  cursor: pointer;
}

#startGameButton {
  box-shadow: none;
  border: none;
  outline: none;
  background-color: white;
  display: none;
  margin: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#startGameButton:hover {
  background-color: rgb(0, 0, 200);
  color: white;
  cursor: pointer;
}

#startedGame {
  display: none;
}

#usersInGame {
  display: none;
}

#messageBox {
  border-top: 2px solid red;
  background-color: black;
  display: flex;
  flex-direction: column;
  color: white;
  width: 850px;
  height: 141px;
  margin: auto;
}

#lobbyMessages {
  margin-top: 0;
  margin-bottom: 0;
  height: 85%;
  overflow-y: auto;
  font-size: 12px;
}

#lobbyMessageForm {
  margin-top: 0;
  margin-bottom: 0;
  height: 15%;
}

#gameQuestion {
  font-size: 15px;
}
/*
.arrowButtonGroup {
  position: relative;
}

.arrowButtonGroup button {
  float: left;
  position: absolute;
  top: 150%;
}*/

#forwardArrowQuestionButton {
  display: none;
  background-color: black;
  color: white;
  box-shadow: none;
  border: none;
  outline: none;
}

#forwardArrowQuestionButton:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

#backArrowQuestionButton {
  display: none;
  background-color: black;
  color: white;
  box-shadow: none;
  border: none;
  outline: none;
}

#backArrowQuestionButton:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

#answerForm {
  display: flex;
  display: none;
  flex-direction: column;
  align-items: center;
}
