#top {
  text-align: center;
}

body {
  background-color: lightcyan;
  font-family: "Courier New", monospace;
}

#loginOverlay {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  transition-duration: 0.3s;
}

#throbber {
  display: none;
  height: 50px;
  width: 50px;
}
/*
form button {
  color: aqua;
}*/

.signinButtons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#loginOverlay form input {
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 15px;
  padding: 5px 10px;
  height: 30px;
  width: 200px;
}

#loginOverlay form label {
  font-size: 13px;
  font-weight: bold;
}

#loginSubmitButton,
#signupSubmitButton {
  box-sizing: border-box;
  border: 2px solid black;
  height: 30px;
  width: 200px;
  border-radius: 15px;
  padding: 5px 10px;
  font-weight: bold;
  background-color: black;
  color: white;
  border-width: 0px;
}

#loginOverlay form input {
  margin-bottom: 10px;
}

#loginOverlay form button {
  margin-bottom: 20px;
}

#guestButton,
#startLoginButton,
#startSignupButton,
#loginBackButton,
#signupBackButton {
  background-color: white;
  color: black;
}

#loginSubmitButton:hover,
#signupSubmitButton:hover {
  background-color: #34bd39;
  cursor: pointer;
}

#guestButton:hover,
#startLoginButton:hover,
#startSignupButton:hover,
#loginBackButton:hover,
#signupBackButton:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

#signInUpError {
  display: none;
  color: red;
}

#loginForm,
#signupForm {
  display: none;
}

form,
input {
  border-radius: 6px;
}

#game {
  display: none;
  margin-bottom: 50px;
}

#stats {
  text-align: center;
}

#gameBox {
  background-color: black;
  color: white;
  width: 850px;
  height: 400px;
  margin: auto;
  overflow-y: auto;
  position: relative;
  border: 5px solid rgb(77, 77, 77);
  border-bottom: 0px;
}

#newGame {
  background-color: white;
  font-family: "Tahoma", sans-serif;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 75px;
  width: 75px;
  border: none;
  border-bottom: 5px solid gray;
  border-right: 5px solid gray;
  outline: none;
  border-bottom-right-radius: 100%;
  padding: 0px 15px 13px 0px;
  font-weight: bold;
}

#newGame:hover {
  background-color: #00cf07; /*still weird*/
  color: white;
  cursor: pointer;
  font-size: 15px;
}

#currentGamesTable {
  font-family: "Tahoma", sans-serif;
  table-layout: fixed;
  font-size: 13px;
  width: 100%;
  border-spacing: 50px 20px;
  margin-top: 2%;
}

#currentGamesTable td {
  position: relative;
  border: 2px solid white;
  border-radius: 10px;
  transition-duration: 0.5s;
  height: 100px; /*background: linear-gradient(135deg, #cfd3fd, #8388e9);*/
  /*background: linear-gradient(
    to bottom,
    #cfd3fd 0%,
    #cfd3fd 66.66666%,
    #8388e9 66.66666%,
    #8388e9 100%
  );*/
  background: linear-gradient(
    to bottom,
    #f9c4c4 0%,
    #ff4f4f 33.33333%,
    #ffffff 33.33333%,
    #ffffff 66.66666%,
    #8388e9 66.66666%,
    #2732ff 100%
  );
  color: black;
  padding: 0;
}

#currentGamesTable td .joinTop {
  height: 66.66666%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#currentGamesTable td .joinBottom {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 33.33334%;
  bottom: 0;
}

.joinGameButton {
  margin: 0;
  box-shadow: none;
  border: none;
  outline: none;
  background-color: #4caf50; /* Green color */
  color: white;
  font-size: 12px;
  padding: 0px;
  font-weight: bold;
  transition: all 0.3s ease;
  height: 100%;
  width: 100%;
  border-radius: 0px 0px 10px 10px;
}

.joinGameButton:hover {
  background-color: #45a049 !important; /* Darker green for hover effect */
  cursor: pointer; /*transform: scale(1.05); box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);*/
  font-size: 24px;
}
/*
#chatToggleButton {
  box-shadow: none;
  border: none;
  outline: none;
  background-color: white;
  cursor: pointer;
}

#chatToggleButton:hover {
  background-color: black;
  color: white;
}*/

#usersInGame,
#gameQuestion,
#scores {
  font-family: "Tahoma", sans-serif;
  margin: 50px;
}
#gameQuestion {
  font-size: 15px;
}
#usersInGame {
  font-size: 13px;
  margin-top: 0px;
}

#leaveGameButton {
  background-color: white;
  display: none;
  top: 0px;
  left: 0px;
  border: none;
  outline: none;
  margin: 0px;
}

#leaveGameButton:hover {
  background-color: rgb(200, 0, 0);
  color: white;
  cursor: pointer;
}

#startGameButton {
  box-shadow: none;
  border: none;
  outline: none;
  background-color: white;
  display: none;
  margin: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 15px;
  color: white;
  background-color: rgb(0, 0, 200);
  border: 2px solid white;
  height: 30px;
  width: 90px;
}

#startGameButton:hover {
  cursor: pointer;
  background-color: rgb(0, 200, 0);
}

#messageBox {
  background-color: black;
  display: flex;
  flex-direction: column;
  color: white;
  width: 850px;
  height: 141px;
  margin: auto;
  border: 5px solid rgb(77, 77, 77);
  border-top: 2px solid red;
}

#lobbyMessages {
  margin-top: 0;
  margin-bottom: 0;
  height: 85%;
  overflow-y: auto;
  font-size: 12px;
  margin-left: 2px;
}

#inGameMessages {
  display: none;
  margin-top: 0;
  margin-bottom: 0;
  height: 85%;
  overflow-y: auto;
  font-size: 12px;
  margin-left: 2px;
}

#lobbyGameMessageForm {
  margin-top: 0;
  margin-bottom: 0;
  height: 15%;
}

#answerForm {
  display: flex;
  display: none;
  flex-direction: column;
  align-items: center;
  margin-left: 50px;
}

.arrowButtons {
  display: flex;
}

#forwardArrowQuestionButton {
  display: none;
  background-color: black;
  color: white;
  box-shadow: none;
  border: none;
  outline: none;
  margin-top: 10px;
}

#forwardArrowQuestionButton:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

#backArrowQuestionButton {
  display: none;
  background-color: black;
  color: white;
  box-shadow: none;
  border: none;
  outline: none;
  margin-left: 50px;
  margin-top: 10px;
}

#backArrowQuestionButton:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

#submitQuestionToDatabase {
  display: none;
}

#questionSubmitThanks {
  display: none;
}

#submitBugOrFeedback {
  display: none;
}

#bugFeedbackThanks {
  display: none;
}
